# {{ ansible_managed }}

<VirtualHost *:80>
  ServerName    {{ hostname }}
  KeepAlive     Off

  RewriteEngine On
  RewriteRule   (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
</VirtualHost>

<VirtualHost *:443>
  ServerName              {{ hostname }}

  SSLEngine               On
  SSLVerifyClient         None
  SSLHonorCipherOrder     On
  SSLCipherSuite          ALL:!ADH:!EXP:!LOW:!RC2:!3DES:!SEED:!RC4:+HIGH:+MEDIUM
  SSLCertificateFile      /etc/ssl/{{ hostname }}/{{ hostname }}.pem
  SSLCertificateKeyFile   /etc/ssl/{{ hostname }}/{{ hostname }}.key
  RequestHeader           set X-Forwarded-Proto "https"

  Header                  set X-Frame-Options SAMEORIGIN

{% if environment_name == "development" %}
  <Location "/">
    ProxyPass http://127.0.0.1:3000/ keepalive=off retry=0
    ProxyPassReverse http://127.0.0.1:3000/
  </Location>
{% else %}
  DocumentRoot /vagrant/client/build

  <Directory "/vagrant/client/build">
    Require all granted
  </Directory>
{% endif %}

  Alias "/doc" "/vagrant/doc/html"
  <Location "/doc">
    ProxyPass !
  </Location>
  <Directory "/vagrant/doc/html">
    Require all granted
  </Directory>

  <Location "/admin">
    ProxyPass http://127.0.0.1:8000/admin/ keepalive=off retry=0
    ProxyPassReverse http://127.0.0.1:8000/admin/
  </Location>

  <Location "/api">
    ProxyPass http://127.0.0.1:3001/api keepalive=off retry=0
    ProxyPassReverse http://127.0.0.1:3001/api
  </Location>

</VirtualHost>
